= simple_form_for [@project, @task], remote: true do |f|
  = f.input :title
  = f.input :body
  %p
    Due date: 
    = f.date_field :due_date
    = f.submit (@task.persisted? ? "Update" : "Create"), class: "btn btn-info"
 
